openapi: 3.1.1

info:
  title: Cineplexx Serbia API
  version: 0.1.0
  description: |
    Experimental OpenAPI description of the accessible but undocumented
    Cineplexx Serbia HTTP API.

    This specification intentionally focuses on the small cinema-first subset
    that has been observed directly and is useful for my personal client.

    ## API "versions" and OpenAPI description version

    `0.1.0` is the version of this unofficial OpenAPI description, not a
    Cineplexx API version. Cineplexx endpoints themselves have been observed
    under prefixes such as `/v1`, `/v2`, and `/v3`.

    ## Testing without stale session IDs

    Session IDs are time-sensitive, so this specification intentionally does
    not hard-code a session example. You may use possibly fresh data from
    `/samples` which is located at:
    https://github.com/matijakljajic/seatpeek-cineplexx-rs/tree/main/samples

    To test the full flow using current data:

    1. Call `GET /v1/locations`.
    2. Choose a cinema from the response and copy its cinema ID.
    3. Call `GET /v1/cinemas/{cinemaId}/sessions`.
    4. Pick an entry from one of the returned `sessions` arrays and copy its
       `id`. This value is the `sessionKey`, in the form
       `{cinemaId}-{sessionId}`.
    5. Call `GET /v1/sessions/{sessionKey}`.
    6. From the response, copy `session.sessionId`.
    7. Call `GET /v1/seat-plan/{cinemaId}/{sessionId}`.

    This keeps the testing flow valid as cinema programmes change.

    The upstream API may change without notice.

    Content returned by the upstream API may be subject to Cineplexx terms and
    copyright restrictions. This specification documents observed API
    structure and behaviour only.
  contact:
    url: https://github.com/matijakljajic/seatpeek-cineplexx-rs

externalDocs:
  description: Human-readable API documentation
  url: https://github.com/matijakljajic/seatpeek-cineplexx-rs/wiki

servers:
  - url: https://app.cineplexx.rs/api
    description: Cineplexx Serbia API

security: []

tags:
  - name: Discovery
    description: Stable starting points for discovering live identifiers.
  - name: Cinemas
    description: Cinema metadata and live programmes.
  - name: Sessions
    description: Screening details and seat-level availability.

paths:
  /v1/locations:
    get:
      tags:
        - Discovery
      operationId: getLocations
      summary: List locations
      description: |
        Returns locations and their associated cinemas.

        Start here when you do not already know a current `cinemaId`.
      responses:
        "200":
          description: Observed location data.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Location"

  /v1/cinemas:
    get:
      tags:
        - Discovery
      operationId: getCinemas
      summary: List cinemas
      description: |
        Returns Cineplexx cinema information.

        This is another stable discovery endpoint for obtaining cinema IDs.
      responses:
        "200":
          description: Observed cinema data.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Cinema"

  /v1/cinemas/{cinemaId}:
    get:
      tags:
        - Cinemas
      operationId: getCinema
      summary: Get cinema details
      description: |
        Returns information about one cinema.

        Obtain a `cinemaId` from `/v1/locations` or `/v1/cinemas`.
      parameters:
        - $ref: "#/components/parameters/CinemaId"
      responses:
        "200":
          description: Observed cinema details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cinema"

  /v1/cinemas/{cinemaId}/sessions:
    get:
      tags:
        - Cinemas
      operationId: getCinemaSessions
      summary: Get cinema programme
      description: |
        Returns the cinema programme grouped by date.

        Use this endpoint to discover current session identifiers instead of
        copying a session ID from documentation, because screenings eventually
        expire.

        Each returned day contains a `sessions` array. A session entry has
        been observed to contain:

        - `id`: the composite `sessionKey` used by
          `GET /v1/sessions/{sessionKey}`;
        - `technologies`: screening technologies/formats, observed as a nested
          list of strings.
      parameters:
        - $ref: "#/components/parameters/CinemaId"
      responses:
        "200":
          description: Programme grouped by date.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DaySchedule"

  /v1/sessions/{sessionKey}:
    get:
      tags:
        - Sessions
      operationId: getSession
      summary: Get screening details
      description: |
        Returns details for one screening, including reported aggregate seat
        availability and associated film information. The aggregate counts are
        a convenience hint and have been observed to be internally
        inconsistent; use the seat plan when accurate availability matters.

        To obtain a current `sessionKey`:

        1. Call `GET /v1/cinemas/{cinemaId}/sessions`.
        2. Pick a session from one of the returned `sessions` arrays.
        3. Copy that session's `id`.

        The returned `session.sessionId` can then be used with the seat-plan
        endpoint.
      parameters:
        - $ref: "#/components/parameters/SessionKey"
      responses:
        "200":
          description: Screening details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionDetailsResponse"

  /v1/seat-plan/{cinemaId}/{sessionId}:
    get:
      tags:
        - Sessions
      operationId: getSeatPlan
      summary: Get seat-level availability
      description: |
        Returns the seat plan for a scheduled screening.

        To obtain current parameters:

        1. Discover a current session through
           `GET /v1/cinemas/{cinemaId}/sessions`.
        2. Call `GET /v1/sessions/{sessionKey}`.
        3. Copy `session.sessionId` from the response.

        Session metadata contains `seatsAvailable` and `seatsTotal` as a
        convenience hint, but those aggregate values have been observed to be
        internally inconsistent. Request the seat plan when accurate
        availability or occupancy is required.
      parameters:
        - $ref: "#/components/parameters/CinemaId"
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: Observed seat-plan response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeatPlan"

components:
  parameters:
    CinemaId:
      name: cinemaId
      in: path
      required: true
      description: |
        Numeric cinema identifier.

        Obtain a live value from `/v1/locations` or `/v1/cinemas`.
      schema:
        type: string
        pattern: "^[0-9]+$"
      example: "1116"

    SessionKey:
      name: sessionKey
      in: path
      required: true
      description: |
        Composite screening identifier in the form
        `{cinemaId}-{sessionId}`.

        Obtain a current value by calling
        `/v1/cinemas/{cinemaId}/sessions` and copying a returned session's
        `id`.

        No fixed example is provided because screenings expire.
      schema:
        type: string
        pattern: "^[0-9]+-[0-9]+$"

    SessionId:
      name: sessionId
      in: path
      required: true
      description: |
        Numeric screening identifier.

        Obtain a current value from `session.sessionId` returned by
        `/v1/sessions/{sessionKey}`.

        No fixed example is provided because screenings expire.
      schema:
        type: string
        pattern: "^[0-9]+$"

  schemas:
    Location:
      type: object
      description: Location object returned by `/v1/locations`.
      properties:
        id:
          type: number
          description: Location identifier as returned by Cineplexx.
        name:
          type: string
          description: Location name.
        items:
          type: array
          description: Numeric cinema IDs associated with this location.
          items:
            type: number
        stateId:
          type: string
          description: State identifier as returned by Cineplexx.
      additionalProperties: true

    Cinema:
      type: object
      description: |
        Cinema object.

        Only fields understood well enough to document are described here.
        Unknown upstream fields are intentionally accepted.
      properties:
        id:
          type: string
          pattern: "^[0-9]+$"
          description: Cinema identifier.
        name:
          type: string
          description: Cinema name.
        cinemaUrlName:
          type: string
          description: Cinema URL name as returned by Cineplexx.
        address1:
          type: string
          description: First address line.
        address2:
          type: string
          description: Second address line.
        geo:
          $ref: "#/components/schemas/GeoCoordinates"
      additionalProperties: true

    GeoCoordinates:
      type: object
      description: Geographic coordinates returned for a cinema.
      properties:
        latitude:
          type: number
        longitude:
          type: number
      additionalProperties: true

    DaySchedule:
      type: object
      description: Programme entry containing sessions for one date.
      properties:
        date:
          type: string
          description: Programme date as returned by Cineplexx.
        sessions:
          type: array
          description: Sessions scheduled for this date.
          items:
            $ref: "#/components/schemas/ScheduleSession"
      additionalProperties: true

    ScheduleSession:
      type: object
      description: |
        Lightweight session entry returned by the cinema programme endpoint.
      properties:
        id:
          type: string
          description: |
            Composite session key used by
            `GET /v1/sessions/{sessionKey}`.
          pattern: "^[0-9]+-[0-9]+$"
        cinemaId:
          type: string
          pattern: "^[0-9]+$"
          description: Cinema identifier.
        movieId:
          type: string
          description: Cineplexx movie identifier.
        sessionId:
          type: string
          pattern: "^[0-9]+$"
          description: Screening identifier.
        screenName:
          type: string
          description: Auditorium/screen name.
        screenNumber:
          type: number
          description: Auditorium/screen number.
        technologies:
          type: array
          description: |
            Screening technologies/formats.

            This field has been observed as a nested list of strings.
          items:
            type: array
            items:
              type: string
        showtime:
          type: string
          description: Screening start time as returned by Cineplexx.
        isAllocatedSeating:
          type: boolean
          description: Whether the screening has allocated seating.
        status:
          type: string
          description: Screening status as returned by Cineplexx.
      additionalProperties: true

    SessionDetailsResponse:
      type: object
      description: |
        Wrapper containing screening data and the associated scheduled film.
      properties:
        session:
          $ref: "#/components/schemas/Session"
        scheduledFilm:
          $ref: "#/components/schemas/ScheduledFilm"
      additionalProperties: true

    Session:
      type: object
      description: |
        Screening metadata returned inside a session-detail response.

        Unknown upstream fields are intentionally accepted.
      properties:
        id:
          type: string
          pattern: "^[0-9]+-[0-9]+$"
          description: Composite session key.
        sessionId:
          type: string
          pattern: "^[0-9]+$"
          description: Numeric screening identifier.
        cinemaId:
          type: string
          pattern: "^[0-9]+$"
          description: Cinema identifier.
        movieId:
          type: string
          description: Cineplexx movie identifier.
        showtime:
          type: string
          description: Screening start time as returned by Cineplexx.
        status:
          type: string
          description: Screening status as returned by Cineplexx.
        seatsAvailable:
          type: integer
          minimum: 0
          description: Reported available-seat count. It is not guaranteed to be consistent with `seatsTotal`.
        seatsTotal:
          type: integer
          minimum: 0
          description: Reported total-seat count. It is not guaranteed to be consistent with `seatsAvailable`.
        screenName:
          type: string
          description: Human-readable auditorium/screen name when present.
        screenNumber:
          type: number
          description: Screen number when present.
        sessionAttributesNames:
          type: array
          description: Human-readable session attributes when present.
          items:
            type: string
        allowTicketSales:
          type: boolean
          description: Whether ticket sales are reported as allowed.
        technologies:
          type: array
          description: Screening technologies/formats as returned by Cineplexx.
          items:
            type: array
            items:
              type: string
      additionalProperties: true

    ScheduledFilm:
      type: object
      description: |
        Film information associated with the screening.

        Unknown upstream fields are intentionally accepted.
      properties:
        id:
          type: string
          description: Scheduled-film identifier.
        scheduledFilmId:
          type: string
          description: Cineplexx scheduled-film identifier.
        cinemaId:
          type: string
          pattern: "^[0-9]+$"
          description: Cinema identifier.
        title:
          type: string
          description: Film title.
        duration:
          type: string
          description: Film duration as returned by Cineplexx.
        film:
          $ref: "#/components/schemas/FilmReference"
      additionalProperties: true

    FilmReference:
      type: object
      description: |
        Nested film reference in the raw session-details response. The sample
        fixture's `slug` is derived from `film.shortURL` and is not an
        upstream `ScheduledFilm` field. (todo: this needs to double checked)
      properties:
        shortURL:
          type: string
          description: Film URL slug as returned by Cineplexx.
      additionalProperties: true

    SeatPlan:
      type: object
      description: Seat-plan response returned for a scheduled screening.
      properties:
        rowsMax:
          type: number
          description: Maximum row count as returned by Cineplexx.
        seatPlanSaved:
          type: string
          description: Seat-plan saved value as returned by Cineplexx.
        rows:
          type: array
          items:
            $ref: "#/components/schemas/SeatRow"
        icons:
          type: array
          items:
            $ref: "#/components/schemas/SeatIcon"
      additionalProperties: true

    SeatRow:
      type: object
      description: Row in a Cineplexx seat plan.
      properties:
        physicalName:
          type: string
          description: Physical row label.
        number:
          type: number
          description: Row number as returned by Cineplexx.
        areaCategoryCode:
          type: string
          description: Area category code as returned by Cineplexx.
        description:
          type: string
          description: Row/auditorium description as returned by Cineplexx.
        right:
          type: number
          description: Row right position as returned by Cineplexx.
        bottom:
          type: number
          description: Row bottom position as returned by Cineplexx.
        height:
          type: number
          description: Row height as returned by Cineplexx.
        columnCount:
          type: number
          description: Number of columns in the row.
        seats:
          type: array
          items:
            $ref: "#/components/schemas/Seat"
      additionalProperties: true

    Seat:
      type: object
      description: Seat in a Cineplexx seat plan.
      properties:
        columnIndex:
          type: number
          description: Seat column index as returned by Cineplexx.
        statusCalculated:
          type: number
          description: Seat status value as returned by Cineplexx.
        doubleSeatId:
          type: string
          description: Double-seat identifier as returned by Cineplexx.
        position:
          $ref: "#/components/schemas/SeatPosition"
        id:
          type: string
          description: Seat identifier or label as returned by Cineplexx.
        status:
          type: number
          description: Seat status value as returned by Cineplexx.
        seatStyle:
          type: number
          description: Seat style value as returned by Cineplexx.
        seatsInGroup:
          type: array
          description: Grouped-seat values as returned by Cineplexx.
          items: {}
        originalStatus:
          type: number
          description: Seat status value as returned by Cineplexx.
        seatIconId:
          type: number
          description: Seat icon identifier as returned by Cineplexx.
        seatImprovedIconId:
          type: number
          description: Improved seat icon identifier as returned by Cineplexx.
        areaCategoryCode:
          type: string
          description: Area category code as returned by Cineplexx.
        rowName:
          type: string
          description: Row label as returned by Cineplexx.
        normalizedRowIndex:
          type: number
          description: Normalized row index as returned by Cineplexx.
        rowRight:
          type: number
          description: Row right position as returned by Cineplexx.
        normalizedColumnIndex:
          type: number
          description: Normalized column index as returned by Cineplexx.
      additionalProperties: true

    SeatPosition:
      type: object
      description: Position data for a seat.
      properties:
        rowIndex:
          type: number
          description: Row index as returned by Cineplexx.
        columnIndex:
          type: number
          description: Column index as returned by Cineplexx.
        areaNumber:
          type: number
          description: Area number as returned by Cineplexx.
        columnIndexVista:
          type: number
          description: Vista column index as returned by Cineplexx.
        columnIndexRender:
          type: number
          description: Render column index as returned by Cineplexx.
      additionalProperties: true

    SeatIcon:
      type: object
      description: Seat icon referenced by a seat plan.
      properties:
        id:
          type: number
          description: Seat icon identifier.
        imageUrl:
          type: string
          description: Image path as returned by Cineplexx.
      additionalProperties: true
